---
//@TS-NOCHECK
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
const data = await fetch("https://kea-alt-del.dk/t7/api/products").then((res) =>
  res.json()
);
console.log(data);
---

<Layout>
  <h2>Produktliste</h2>
  <section class="product_list_container">
    {data.map((element) => <ProductCard product={element} />)}
  </section>
</Layout>

<style></style>

<script></script>
